li {
    list-style-type: none;
    background-color: gray;
    margin: 5px;
    border-radius: 20px;
}

.liContainer {
    transition: all ease 400ms;
    display: grid;
    grid-template-columns: 20% 60% 5% 5% 5%;
    width: 100%;
    background-color: gray;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: large;
}

.links {
    position: absolute;
    bottom: 0;
    right: 0;
}

ul {
    display: inline;
    margin-bottom: 20px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: max-content;
    width: max-content;
}

.container2 {
    background-color: white;
    margin-top: 10px;
}

.button {
    margin-top: 0 !important;
    width: min-content;
    background-color: transparent;
}

.Img {
    max-width: 20px;
}

.wrapper {
    display: grid;
    grid-template-rows: 50% 50%;
    background-color: rgb(145, 145, 145);
    box-shadow: 1px 1px 1px 1px;
    position: absolute;
    height: 50vh;
    width: 50vw;
    top: 10vh;
    right: 5vw;
    left: 5vw;
    border-radius: 20px;
}

.listInfo{
}