.ulContainer{
    list-style-type: none;
}


#formContainer{
    background-color: gray;
    box-shadow: 3px 3px 3px 3px black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

body{
    max-width: 300px;
    margin: 0 auto;
    background-color: white;
}

*{
    font-family: 'Arial';
}

input{
    border-radius: 15px;
}

button{
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}